<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>MyProject</title>
	<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
	<link rel="stylesheet" href="/views/css/app.css">
	<style>
	</style>
</head>
<body ng-app="MyApp" ng-controller="MyCtrl" layout="column" flex>
	<md-toolbar layout="row" class="md-toolbar-tools">
		<md-button class="md-icon-button" ng-click="toggleSidenav()">
			<md-icon md-svg-icon="/views/img/icon/menu.svg"></md-icon>
		</md-button>
		<span>Header</span>
	</md-toolbar>
	<div layout="row" flex>
		<md-sideNav layout="column" class="md-sidenav-left md-whiteframe-4dp"
					md-component-id="left">
			<md-button>Menu1</md-button>
			<md-button>Menu2</md-button>
		</md-sideNav>
		<md-content layout="column" layout-gt-md="row" layout-padding flex>
			<div layout="column" flex-gt-md="20" layout-sm="row">
				<md-input-container flex-sm="30">
					<label>Order By</label>
					<md-select ng-model="orderProp">
						<md-option value="name">Alphabetical</md-option>
						<md-option value="age">Newest</md-option>
					</md-select>
				</md-input-container>
				<md-input-container flex-sm="70">
					<label>Search</label>
					<input id="qinput" ng-model="query">
				</md-input-container>
			</div>
			<div layout="column" flext-gt-md="80" layout-margin>
				<ul>
					<li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
						<span>{{phone.name}}</span>
						<p>{{phone.desc}}</p>
					</li>
				</ul>
				<p>Total number of phones : {{phones.length}}</p>
			</div>
		</md-content>
	</div>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-aria/angular-aria.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/bower_components/angular-material/angular-material.js"></script>
	<script src="/views/js/controllers.js"></script>
</body>
</html>
