<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title>MyProject</title>
	<link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
	<link rel="stylesheet" href="/views/css/app.css">
	<style>
	</style>
</head>
<body ng-app="MyApp" layout="column" ng-controller="MyCtrl">
	<md-toolbar layout="row">
		<div class="md-toolbar-tools md-whiteframe-4dp">
			<md-button class="md-icon-button" hide-gt-sm ng-click="openLeftMenu()" aria-label="menu">
				<md-icon md-svg-src="/views/img/icon/menu.svg"></md-icon>
			</md-button>
			<span>Header</span>
		</div>
	</md-toolbar>
	<div layout="row" flex>
		<md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-3dp" 
					md-is-locked-open="$mdMedia('gt-sm')" layout="column">
			<md-button class="md-primary" aria-label="Menu1">Menu1</md-button>
			<md-button class="md-primary" aria-label="Menu2">Menu2</md-button>
			<md-button class="md-primary" aria-label="Menu3">Menu3</md-button>
		</md-sidenav>
		<md-content class="md-padding">
		<h3>Content Title</h3>
		</md-content>
	</div>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-aria/angular-aria.js"></script>
	<script src="/bower_components/angular-animate/angular-animate.js"></script>
	<script src="/bower_components/angular-material/angular-material.js"></script>
	<script>
		var app = angular.module("MyApp", ['ngMaterial']);
		app.controller("MyCtrl", function($scope, $mdSidenav) {
			$scope.openLeftMenu = function() {
				$mdSidenav('left').toggle();
			};
		});
	</script>
</body>
</html>
